body {

  background-color:#FFA31F;
}

header {
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  padding-bottom:1em;
  border-bottom:1px solid black;
}

header h1 {
  font-size:2em;
  font-family: 'Shadows Into Light', cursive;
}
.inventory h3, details p {
  font-family: 'Shadows Into Light', cursive;
}

.button {
  background-color:green;
}
